@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  scrollbar-width: none;
  scrollbar-color: #000;
  background: url(../img/bg_contact.png) no-repeat center center/cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: #d3e0ed;
  margin: 20px 50px;
  border-radius: 15px;
  padding: 0 20px;
}
.header__wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 50px;
  padding: 16px 0;
}
@media (max-width: 540px) {
  .header__logo {
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__logo-pic {
  height: 40px;
  width: 40px;
}
.header__logo-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.header__logo-link {
  color: #06334b;
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__menu-item {
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
}
.header__link {
  color: #06334b;
  padding: 10px;
  border-radius: 15px;
}
.header__link:hover {
  color: #74839b;
}

.burger__menu {
  display: none;
  position: relative;
  margin-top: 15px;
  width: 60px;
  height: 40px;
}
@media (max-width: 900px) {
  .burger__menu {
    display: block;
  }
}
.burger__menu-items {
  display: none;
  position: absolute;
  right: 0;
  background-color: #74839b;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  animation: fadeIn 0.3s ease;
}
.burger__menu-items.open {
  display: block;
}
.burger__menu-items a {
  display: block;
  color: #74839b;
  color: #06334b;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.burger__menu-items a:hover {
  background-color: #d3e0ed;
  border-radius: 4px;
}
.burger__icon {
  transition: transform 0.3s ease;
  cursor: pointer;
  padding: 10px;
  background-color: #74839b;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
.burger__icon.open {
  transform: rotate(90deg);
  height: 40px;
  width: 40px;
}
.burger__icon.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger__icon.open .bar:nth-child(2) {
  opacity: 0;
}
.burger__icon.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.bar {
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.bar:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact {
  margin: 0 auto;
}
.contact__wrap {
  margin: 0 10px;
  margin-right: 15%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 500px) {
  .contact__wrap {
    margin-right: 10px;
  }
}
.contact__btn {
  width: 520px;
  height: 110px;
  border-radius: 30px;
  border: none;
  background-color: #BEB4AA;
  color: #06334b;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 250px;
}
@media (max-width: 540px) {
  .contact__btn {
    width: 100%;
  }
}
.contact__btn :active {
  background-color: #06334b;
  color: #74839b;
}
.contact__btn:hover {
  cursor: pointer;
}
.contact__social {
  padding: 30px;
  background-color: rgba(211, 224, 237, 0.5);
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  margin-bottom: 50px;
}
@media (max-width: 540px) {
  .contact__social {
    width: 100%;
    padding: 15px;
  }
}
.contact__social-title {
  font-size: 20px;
  font-weight: 500;
}
.contact__social-text {
  font-size: 20px;
  font-weight: 500;
}
.contact__social-icons {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  padding: 0 40px;
}
@media (max-width: 520px) {
  .contact__social-icons {
    padding: 0 20px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 1;
  background-color: rgba(42, 46, 49, 0.5);
}
.modal__wrap {
  background: url(../img/social.png) no-repeat center center/cover;
  border: 10px solid #74839b;
  border-radius: 30px;
  width: 50%;
  position: absolute;
  top: 100px;
  left: 25%;
}
@media (max-width: 1400px) {
  .modal__wrap {
    left: 0;
    top: 75px;
    width: 90%;
    margin: 0 5%;
  }
}
.modal__content {
  background-color: #d3e0ed;
  color: #06334b;
  margin: 15% auto;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  max-width: 600px;
  position: relative;
}
@media (max-width: 1400px) {
  .modal__content {
    margin: 15% auto;
    width: 90%;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover, .close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label {
  margin-top: 10px;
}

input, textarea {
  display: flex;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
}

button[type=submit] {
  margin-top: 20px;
  padding: 10px;
  background-color: #06334b;
  border-radius: 15px;
  color: #d3e0ed;
  border: none;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #7a8ea1;
}

.footer {
  background-color: #06334b;
}
.footer__wrap {
  margin: 0 75px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logo-pic {
  width: 60px;
  height: 60px;
}
.footer__logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__logo-block {
    justify-content: center;
    gap: 20px;
  }
}
.footer__logo-title {
  color: #d3e0ed;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .footer__logo-title {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .footer__logo-title {
    text-align: left;
    width: 120px;
  }
}
.footer__logo-subtitle {
  color: #d3e0ed;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 900px) {
  .footer__logo-subtitle {
    padding-left: 40px;
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__contact-wrap {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .footer__contact-wrap {
    flex-direction: column;
    gap: 5px;
  }
}
.footer__contact-title {
  color: #d3e0ed;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__contact-link {
  color: #d3e0ed;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__contact-text {
  display: flex;
  font-size: 16px;
  align-items: center;
}
.footer__contact-block {
  display: flex;
  gap: 5px;
  color: #d3e0ed;
}
.footer__politics {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__politics {
    margin-bottom: 30px;
  }
}
.footer__politics-link {
  color: #d3e0ed;
}
.footer__politics-text {
  font-size: 20px;
}
@media (max-width: 900px) {
  .footer__politics-text {
    text-align: center;
  }
}
.footer__bottom {
  background-color: #06334b;
  height: 20px;
}
.footer__bottom-text {
  margin-right: 75px;
  float: right;
  color: #74839b;
  background-color: transparent;
}