@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  height: 100%;
  scrollbar-width: none;
  scrollbar-color: #000;
  background: url(../img/ff.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.close {
  cursor: not-allowed;
  opacity: 0.1;
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: #d3e0ed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.hide {
  display: none;
}

.load {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 6;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #F63D3A;
  animation-delay: -1s;
}

.load :nth-child(3) {
  background: #FDA543;
  animation-delay: -0.5s;
}

.load :last-child {
  background: #193B48;
}

.hide-loader {
  animation: hidePreloader 1s;
}

.loader-hidden {
  display: none;
}

@keyframes hideloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
.header {
  background-color: #d3e0ed;
  margin: 20px 50px;
  border-radius: 15px;
  padding: 0 20px;
}
.header__wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 50px;
  padding: 16px 0;
}
@media (max-width: 540px) {
  .header__logo {
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__logo-pic {
  height: 40px;
  width: 40px;
}
.header__logo-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.header__logo-link {
  color: #06334b;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__menu-item {
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
}
.header__link {
  color: #06334b;
  padding: 10px;
  border-radius: 15px;
}
.header__link:hover {
  color: #74839b;
}

.burger__menu {
  display: none;
  position: relative;
  margin-top: 17px;
  width: 60px;
  height: 40px;
}
@media (max-width: 900px) {
  .burger__menu {
    display: block;
  }
}
.burger__menu-items {
  display: none;
  position: absolute;
  right: 0;
  background-color: #74839b;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  animation: fadeIn 0.3s ease;
}
.burger__menu-items.open {
  display: block;
}
.burger__menu-items a {
  display: block;
  color: #74839b;
  color: #06334b;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.burger__menu-items a:hover {
  background-color: #d3e0ed;
  border-radius: 4px;
}
.burger__icon {
  transition: transform 0.3s ease;
  cursor: pointer;
  padding: 10px;
  background-color: #74839b;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
.burger__icon.open {
  transform: rotate(90deg);
  height: 40px;
  width: 40px;
}
.burger__icon.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger__icon.open .bar:nth-child(2) {
  opacity: 0;
}
.burger__icon.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.bar {
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.bar:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 25px;
}
.sight__btn {
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  z-index: 1;
}
.sight__btn-left {
  margin-left: 10px;
}
.sight__img {
  width: 1000px;
  overflow: hidden;
  border-radius: 15px;
  flex-direction: row;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sight__img {
    width: 100%;
    height: 50vh;
  }
}
.sight__main-wrap {
  display: flex;
  flex-direction: column;
  background-color: #d3e0ed;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}
@media (max-width: 768px) {
  .sight__main-wrap {
    flex-direction: column;
    margin: 0 10px;
  }
}
.sight__main-block {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .sight__main-block {
    flex-direction: column;
    gap: 0px;
  }
}
.sight__reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.sight__reviews-data {
  width: 100%;
}
.sight__reviews-review {
  width: 100%;
  min-width: 200px;
  background-color: #BEB4AA;
  border-radius: 92px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 50px;
}
@media (max-width: 768px) {
  .sight__reviews-review {
    padding: 20px;
    border-radius: 30px;
  }
}
.sight__reviews-review-block {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .sight__reviews-review-block {
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
}
.sight__reviews-review-name {
  font-size: 32px;
  font-weight: 700;
  word-break: break-all;
}
.sight__reviews-review-rating {
  display: flex;
  height: 50px;
  color: gold;
  margin-top: -50px;
  font-size: 60px;
  font-weight: 700;
  word-break: break-all;
}
@media (max-width: 768px) {
  .sight__reviews-review-rating {
    margin-bottom: 25px;
    font-size: 50px;
  }
}
.sight__reviews-review-description {
  font-size: 20px;
  width: 100%;
  text-align: center;
  word-break: break-all;
}
.sight__reviews-title {
  font-size: 32px;
}
.sight__reviews-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 50px;
  width: 40%;
  padding: 20px;
  border-radius: 25px;
  background-color: #ddd;
}
@media (max-width: 768px) {
  .sight__reviews-modal {
    width: 80%;
  }
}
.sight__reviews-modal-back {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}
.sight__reviews-modal-input {
  width: 80%;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
}
.sight__reviews-modal-input:focus {
  outline: none;
}
.sight__reviews-modal-textarea {
  max-width: 100%;
  width: 80%;
  max-height: 300px;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
}
.sight__reviews-modal-textarea:focus {
  outline: none;
}
.sight__reviews-modal-sumbit {
  background-color: #06334b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
}
.sight__reviews-modal-sumbit:focus {
  outline: none;
}
.sight__reviews-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74839b;
  color: #000;
  align-self: flex-end;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 60px;
  border: none;
  border-radius: 50%;
}
.sight__reviews-modal-btn:focus {
  outline: none;
}
.sight__item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sight__item-title {
  margin-top: 25px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.sight__item-text {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 20px;
  height: 100%;
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  color: #06334b;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .sight__item-text {
    order: 2;
    width: 100%;
  }
}
.sight__item-main {
  display: flex;
  height: 700px;
  flex-direction: row;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .sight__item-main {
    padding: 0;
  }
}
.sight__item-main-pic {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .sight__item-main-pic {
    width: 100%;
    height: 50vh;
  }
}
.sight__item-adress {
  width: 50%;
  margin-top: 25px;
  color: #fff;
  text-align: center;
}
.sight__wrap {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .sight__wrap {
    padding: 0 10px;
  }
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 100;
}
.gallery__wrap {
  display: flex;
  transform: translateX();
}
.gallery__slide {
  width: 60vw;
  overflow: hidden;
}
.gallery__img {
  min-width: 60vw;
  max-width: 60vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 300;
}
.gallery__btn:first-child {
  background: url(../img/arrow-left.svg) no-repeat center center/cover;
}
.gallery__btn:last-child {
  background: url(../img/arrow-right.svg) no-repeat center center/cover;
}

.map {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.map__btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #BEB4AA;
}
.map__btn:active {
  background-color: #d3e0ed;
}
.map__yandex {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
}
@media (max-width: 630px) {
  .map__yandex {
    top: calc((100vh - 100vw) / 4);
  }
}
.map__yandex-wrap {
  position: relative;
  overflow: hidden;
}
.map__yandex-iframe {
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
}
@media (max-width: 630px) {
  .map__yandex-iframe {
    width: 100vw;
    height: 100vw;
  }
}

#back {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100vw;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

#mapClose, #gallClose {
  display: none;
  top: 50px;
  right: 2%;
  position: fixed;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  overflow: visible;
  z-index: 10;
}
@media (max-width: 426px) {
  #mapClose, #gallClose {
    top: 0px;
  }
}

.closes {
  position: absolute;
  background-color: #ffffff;
  width: 5px;
  height: 60px;
  border-radius: 15px;
}
.closes:first-child {
  transform: rotate(45deg) translateY(-40px);
}
.closes:last-child {
  transform: rotate(-45deg) translateX(40px);
}

.footer {
  background-color: #06334b;
}
.footer__wrap {
  margin: 0 75px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__logo-pic {
  width: 60px;
  height: 60px;
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__logo-block {
    justify-content: center;
    gap: 20px;
  }
}
.footer__logo-title {
  color: #d3e0ed;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
.footer__logo-subtitle {
  width: 100%;
  color: #d3e0ed;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 900px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__contact-wrap {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .footer__contact-wrap {
    flex-direction: column;
    gap: 5px;
  }
}
.footer__contact-title {
  color: #d3e0ed;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__contact-link {
  color: #d3e0ed;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__contact-text {
  display: flex;
  font-size: 16px;
  align-items: center;
}
.footer__contact-block {
  display: flex;
  gap: 5px;
  color: #d3e0ed;
}
.footer__politics {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer__politics {
    margin-bottom: 30px;
  }
}
.footer__politics-link {
  color: #d3e0ed;
}
.footer__politics-text {
  font-size: 20px;
}
@media (max-width: 900px) {
  .footer__politics-text {
    text-align: center;
  }
}
.footer__bottom {
  background-color: #06334b;
  height: 20px;
}
.footer__bottom-text {
  margin-right: 75px;
  float: right;
  color: #74839b;
  background-color: transparent;
}