@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

$background_color:#74839b;
$main_color:#06334b;
$block_color:#a9b6c3;
$second_block_color:#7a8ea1;
$bej_color:#BEB4AA;

* {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    height: 100%;
    scrollbar-width: none;
    scrollbar-color: #000;
    background-color: $background_color;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.close {
    cursor: not-allowed;
    opacity: 0.1;
};

#loading {
    width: 100vw;
    height: 100vh;
    background-color: $block_color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 6;
}
.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.load :last-child {
    background: #193B48
}

.hide-loader {
    animation: hidePreloader 1s;
}

.loader-hidden {
    display: none;
}

@keyframes hideloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin{
0%,100%{transform: translate(0)}
25%{transform: translate(160%)}
50%{transform: translate(160%, 160%)}
75%{transform: translate(0, 160%)}
}

.header {
    background-color: $block_color;
    margin: 20px 50px;
    border-radius: 15px;
    padding: 0 20px;

    &__wrap {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-left: 50px;
        padding: 16px 0;

        @media (max-width:540px) {
            margin-left: 20px;
        }

        @media (max-width:420px) {
            margin-left: 0;
        }

        &-pic {
            height: 40px;
            width: 40px;
        }

        &-text {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &-link {
            color: $main_color;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        margin-right: 10px;

        @media (max-width:900px) {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        &-item {
            text-transform: uppercase;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 600;
        }

    }

    &__link {
        color: $main_color;
        padding: 10px;
        border-radius: 15px;
    }

    &__link:hover {
        color: $background_color;
    }
}

.burger {
    &__menu {
        display: none;
        position: relative;
        margin-top: 17px;
        width: 60px;
        height: 40px;

        @media (max-width:900px) {
            display: block;
        }

        &-items {
            display: none;
            position: absolute;
            right: 0;
            background-color: $background_color;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 250px;
            animation: fadeIn 0.3s ease;

            &.open {
                display: block;
            }

            & a {
                display: block;
                color: $background_color;
                color: $main_color;
                text-decoration: none;
                padding: 10px 20px;
                text-align: center;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $block_color;
                    border-radius: 4px;
                }
            }
        }
    }

    &__icon {
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: 10px;
        background-color: $background_color;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        &.open {
            transform: rotate(90deg);
            height: 40px;
            width: 40px;

            & .bar:nth-child(1)  {
                transform: translateY(9px) rotate(45deg);
            }

            & .bar:nth-child(2) {
                opacity: 0;
            }

            & .bar:nth-child(3) {
                transform:translateY(-9px) rotate(-45deg);
            }
        }
    }
}

.bar {
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:last-child {
        margin-bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.search {
    margin: 30px 30% 50px 30%;
    padding: 5px 0;
    background-color: $block_color;
    border-radius: 50px;

    @media (max-width:900px) {
        margin: 30px 10% 50px 10%;
    }

    &__wrap {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    &__filter {
        width: 40px;
        height: 40px;
        border: none;
        box-shadow: none;
        background: url(../img/filter_icon.svg) no-repeat center center / cover;
        appearance: none;
        color: transparent;
        font-size: 16px;
        font-weight: 500;

        &:focus {
            outline: none;
        }
        
        &-opt {
            color: $background_color;
            background-color: $main_color;
            font-size: 20px;
            font-weight: 500;
        }
        
    }

    &__input {
        height: 40px;
        width: 80%;
        border-radius: 30px;
        background-color: $second_block_color;
        color: $main_color;
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        border: none;

        @media (max-width:1000px) {
            width: 70%;
        }

        &::placeholder {
            color: $main_color;
        }

        &::after {
            content: '✕';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #999;
        }
        

        &:focus {
            outline: none;
        }

    }
}

.sight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;

    &__item {
        width: 100%;

        &-title {
            margin-top: 25px;
            margin-bottom: 50px;
            color: $main_color;
            font-size: 32px;
            font-weight: 800;
        }

        &-text {
            padding-top: 20px;
            padding-bottom: 30px;
            border-radius: 25px 25px 0 0;
            background-color: $block_color;
            width: 80%;
            font-size: 24px;
            font-weight: 500;
            color: $main_color;
            text-align: center;
            line-height: 1.5;
        }

        &-main {
            display: flex;
            width: 80%;

            &-pic {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-second {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            &-pics {
                width: 40%;
                height: 500px;
                object-fit: cover;
            }
        }

        &-adress {
            width: 50%;
            margin-top: 25px;
            color: #fff;
            text-align: center;
        }
    }

    &__wrap {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.map {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
    &__btn {
        padding: 15px;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        color: #fff;
        background-color: $bej_color;

        &:active {
            background-color: $block_color;
        }
    }

    &__yandex {
        display: none;
        position: fixed;
        top: 100px;

        &-wrap {
            position:relative;
            overflow:hidden;
        }

        &-iframe {
            width: 800px;
            height: 800px;
            border-radius: 50%;
        }
    }
}

#back {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.6);
}
#close {
    display: none;
    top: 50px;
    left: 95%;
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.closes {
    position: absolute;
    background-color: #ffffff;
    width: 5px;
    height: 60px;
    border-radius: 15px;
    opacity: 1;
    &:first-child {
        transform: rotate(45deg);
    }

    &:last-child {
        transform: rotate(-45deg);
    }
}

.footer {
    background-color: $main_color;

    &__wrap {
        margin: 0 75px;
        padding-top: 35px;
        display: flex;
        justify-content: space-between;

        @media (max-width:900px) {
            flex-direction: column;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;

        &-pic {
            width: 60px;
            height: 60px;
        }

        &-block {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @media (max-width:900px) {
                justify-content: center;
                gap: 20px;
            }

            @media (max-width:420px) {
            }
        }

        &-title {
            color: $block_color;
            font-size: 24px;
            font-weight: 500;
            text-align: right;
            vertical-align: middle;
            
            @media (max-width:900px) {
                text-align: center;
            }

            @media (max-width:540px) {
                text-align: left;
                width: 120px;
            }
        }

        &-subtitle {
            color: $block_color;
            font-size: 16px;
            text-align: center;

            @media (max-width:900px) {
                padding-left: 40px;
                margin-top: 10px;
            }
        }

        @media (max-width:900px) {
            margin-bottom: 30px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 10px;

            @media (max-width:900px) {
                flex-direction: row;
                gap: 15px;
                margin-bottom: 30px;
            }

            @media (max-width:360px) {
                flex-direction: column;
                gap: 5px;
            }
        }

        &-title {
            color: $block_color;
            font-size: 20px;
            margin-bottom: 15px;
        }

        &-link {
            color: $block_color;
            font-size: 20px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-text {
            display: flex;
            font-size: 16px;
            align-items: center;
        }

        &-block {
            display: flex;
            gap: 5px;
            color: $block_color;
        }
    }

    &__politics {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width:900px) {
            margin-bottom: 30px;
        }

        &-link {
        color: $block_color;
        }

        &-text {
            font-size: 20px;

            @media (max-width:900px) {
                text-align: center;
            }
        }
    }

    &__bottom{
        background-color: $main_color;
        height: 20px;

        &-text {
        margin-right: 75px;
        float: right;
        color: $background_color;
        background-color: transparent;
        }
    }
}