@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

$background_color:#74839b;
$main_color:#06334b;
$block_color:#d3e0ed;
$second_block_color:#7a8ea1;
$bej_color:#BEB4AA;

* {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    scrollbar-width: none;
    scrollbar-color: #000;
    background: url(../img/ff.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.close {
    cursor: not-allowed;
    opacity: 0.1;
};

#loading {
    width: 100vw;
    height: 100vh;
    background-color: $block_color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.load {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
    height:100px;
    z-index: 6;
}
.load hr {
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
}

.load :first-child {
    background:#19A68C;
    animation-delay:-1.5s
}

.load :nth-child(2) {
    background:#F63D3A;
    animation-delay:-1s
}

.load :nth-child(3) {
    background:#FDA543;
    animation-delay:-0.5s
}

.load :last-child {
    background:#193B48
}

.hide-loader {
    animation: hidePreloader 1s;
}

.loader-hidden {
    display: none;
}

@keyframes hideloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin{
0%,100%{transform:translate(0)}
25%{transform:translate(160%)}
50%{transform:translate(160%, 160%)}
75%{transform:translate(0, 160%)}
}

.header {
    background-color: $block_color;
    margin: 20px 50px;
    border-radius: 15px;
    padding: 0 20px;

    &__wrap {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-left: 50px;
        padding: 16px 0;

        @media (max-width:540px) {
            margin-left: 20px;
        }

        @media (max-width:420px) {
            margin-left: 0;
        }

        &-pic {
            height: 40px;
            width: 40px;
        }

        &-text {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &-link {
            color: $main_color;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        margin-right: 10px;

        @media (max-width:900px) {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        &-item {
            text-transform: uppercase;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 600;
        }

    }

    &__link {
        color: $main_color;
        padding: 10px;
        border-radius: 15px;
    }

    &__link:hover {
        color: $background_color;
    }
}

.burger {
    &__menu {
        display: none;
        position: relative;
        margin-top: 15px;
        width: 60px;
        height: 40px;

        @media (max-width:900px) {
            display: block;
        }

        &-items {
            display: none;
            position: absolute;
            right: 0;
            background-color: $background_color;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 250px;
            animation: fadeIn 0.3s ease;

            &.open {
                display: block;
            }

            & a {
                display: block;
                color: $background_color;
                color: $main_color;
                text-decoration: none;
                padding: 10px 20px;
                text-align: center;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $block_color;
                    border-radius: 4px;
                }
            }
        }
    }

    &__icon {
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: 10px;
        background-color: $background_color;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        &.open {
            transform: rotate(90deg);
            height: 40px;
            width: 40px;

            & .bar:nth-child(1)  {
                transform: translateY(9px) rotate(45deg);
            }

            & .bar:nth-child(2) {
                opacity: 0;
            }

            & .bar:nth-child(3) {
                transform:translateY(-9px) rotate(-45deg);
            }
        }
        
    }
}

.bar {
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:last-child {
        margin-bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search {
    width: 40%;
    margin: 50px auto;
    padding: 5px 0;
    background-color: $block_color;
    border-radius: 50px;

    @media (max-width:900px) {
        margin: 30px 10% 50px 10%;
    }

    &__wrap {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    &__filter {
        width: 40px;
        height: 40px;
        border: none;
        box-shadow: none;
        background: url(../img/filter_icon.svg) no-repeat center center / cover;
        appearance: none;
        color: transparent;
        font-size: 16px;
        font-weight: 500;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
        
        &-opt {
            color: $block_color;
            background-color: $main_color;
            font-size: 20px;
            font-weight: 500;
        }
        
    }

    &__block {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 80%;

        &-input {
            height: 40px;
            width: 100%;
            border-radius: 30px;
            background-color: #b1b1b1;
            padding: 15px;
            font-size: 16px;
            font-weight: 500;
            border: none;
    
            @media (max-width:1000px) {
                width: 70%;
            }
    
            &::placeholder {
                color: $block_color;
            }
    
            &:focus {
                outline: none;
            }
        }

        &-sumbit {
            background: url(../img/search_icon.svg) center center no-repeat;
            border: none;
            width: 44px;
            height: 44px;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

    &__menu {
        display: none;
        position: absolute;
        justify-content: space-between;
        z-index: 2;
        margin-top: 5px;
        width: 40%;
        padding: 50px;
        border-radius: 25px;
        background-color: $block_color;
        border: #000 3px solid;

        &-select {
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
}

.sight {
    margin: 0 auto;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;

        @media (max-width:768px) {
            gap: 25px;
        }

        &-link {
            width: 100%;
            height: 85%;
        }

        &-item {
            width: 30%;
            height: 100%;
            margin: 0;
            justify-self: stretch;

            @media (max-width:768px) {
                width: 90%;
            }
        }

        &-card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $block_color;
            border-radius: 15px;

            @media (max-width: 480px) {
                width: 100%;
                height: 700px;
            }

            &-title {
                color: $main_color;
                margin-bottom: 25px;
                text-align: center;
                padding: 15px;
            }

            &-pic {
                width: 90%;
                height: 400px;
                border-radius: 15px 15px 15px 15px;
                object-fit: cover;
            }

            &-back {
                width: 100%;
                height: 100%;
                color: $main_color;
                padding: 5%;
                text-align: left;
                border-radius: 15px;
            }

            &-text {
                width: 100%;
                height: 100%;
                font-size: 20px;

                @media (max-width:768px) {
                    font-size: 16px;
                }
            }

            &-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}



#pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

#showMoreButton {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    border: none;
    background-color: $main_color;
    color: $block_color;
    font-size: 20px;
}

.pagination__text {
    font-size: 24px;
    color: $main_color;

    &-main {
        font-size: 28px;
        vertical-align: top;
        opacity: 1;
    }
}

#pagination button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#pagination button:disabled {
    cursor: not-allowed;
}

.footer {
    background-color: $main_color;

    &__wrap {
        margin: 0 75px;
        padding-top: 35px;
        display: flex;
        justify-content: space-between;

        @media (max-width:900px) {
            flex-direction: column;
        }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &-pic {
            width: 60px;
            height: 60px;
        }

        &-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @media (max-width:900px) {
                justify-content: center;
                gap: 20px;
            }

            @media (max-width:420px) {
            }
        }

        &-title {
            color: $block_color;
            width: 100%;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
        }

        &-subtitle {
            width: 100%;
            color: $block_color;
            font-size: 16px;
            text-align: center;
        }

        @media (max-width:900px) {
            margin-bottom: 30px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 10px;

            @media (max-width:900px) {
                flex-direction: row;
                gap: 15px;
                margin-bottom: 30px;
            }

            @media (max-width:360px) {
                flex-direction: column;
                gap: 5px;
            }
        }

        &-title {
            color: $block_color;
            font-size: 20px;
            margin-bottom: 15px;
        }

        &-link {
            color: $block_color;
            font-size: 20px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-text {
            display: flex;
            font-size: 16px;
            align-items: center;
        }

        &-block {
            display: flex;
            gap: 5px;
            color: $block_color;
        }
    }

    &__politics {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width:900px) {
            margin-bottom: 30px;
        }

        &-link {
        color: $block_color;
        }

        &-text {
            font-size: 20px;

            @media (max-width:900px) {
                text-align: center;
            }
        }
    }

    &__bottom{
        background-color: $main_color;
        height: 20px;

        &-text {
        margin-right: 75px;
        float: right;
        color: $background_color;
        background-color: transparent;
        }
    }
}